@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Common Section */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 99px;
}

/* Header Section */
#head {
    padding-top: 41.25px;
}

#head .banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 600px;
    border-radius: 13.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
}

#head .banner .banner-msg {
    font-size: 26.4px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13.2px;
}

#head .banner .banner-title {
    font-size: 59.4px;
    font-weight: 900;
    line-height: 78.375px;
    width: 100%;
    max-width: 521.4px;
}

/* Highlighted Section */

#highlighted .highlighted-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

#highlighted .highlighted-content .highlighted-title {
    color: #F00;
    font-size: 72.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

#highlighted .highlighted-content .highlighted-msg {
    color: #F00;
    font-size: 19.8px;
    font-weight: 500;
    margin-bottom: 13.2px;
}

#highlighted .highlighted-content .highlighted-info {
    color: #11009E;
    font-size: 39.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

#highlighted .highlighted-content img {
    width: 100%;
    max-width: 662.3925px;
}

/* Party-Join Section */

#party-join .party-join-content {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 600px;
    border-radius: 13.2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#party-join .party-join-content .party-join-content-column .party-join-content-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52.8px;
    font-style: normal;
    font-weight: 900;
    line-height: 72.6px;
    letter-spacing: 5.808px;
    width: 100%;
    max-width: 529.65px;
}

#party-join .party-join-content .party-join-content-column .party-join-content-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14.85px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.75px;
    width: 100%;
    max-width: 575.025px;
    margin: 19.8px 0 39.6px;
}

#party-join .party-join-content .party-join-content-column .party-join-content-link {
    color: #FFF;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    max-width: 84.975;
}

#party-join .party-join-content .party-join-content-column .party-join-content-link:hover {
    color: #11009E;
    transition: all 1s;
}

#party-join .party-join-content .party-join-content-column .image-container img {
    width: 100%;
    max-width: 263.85975px;
}

/* Place-Date-Time Section */

#place-date-time .place-date-time-content {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 82.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#place-date-time .place-date-time-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 26.4px;
    font-style: normal;
    font-weight: 600;
    line-height: 46.2px;
    text-transform: capitalize;
}

#place-date-time .place-date-time-content h3 span {
    color: #F00;
}

#place-date-time .place-date-time-content button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 13.2px 26.4px;
    margin-top: 39.6px;
    border: none;
}

#place-date-time .place-date-time-content button:hover {
    color: #F00;
    background: #FFF;
    transition: all 1s;
}

/* Coming-Soon Section */
#coming-soon .coming-soon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#coming-soon .coming-soon-container .coming-soon-column .coming-soon-offer {
    color: #F00;
    font-family: Inter;
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#coming-soon .coming-soon-container .coming-soon-column .coming-soon-title {
    color: #11009E;
    font-family: Merriweather;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 13.2px 0 18.15px;
}

#coming-soon .coming-soon-container .coming-soon-column .coming-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    width: 100%;
    max-width: 324.225px;
}

#coming-soon .coming-soon-container .coming-soon-border-radius {
    border-radius: 381.975px;
    border: 12.375px solid #F00;
    padding: 40.491px;
}

#coming-soon .coming-soon-container .coming-soon-border-radius:hover {
    border: 12.375px solid #11009E;
    transition: all 1s;
}

#coming-soon .coming-soon-container .coming-soon-border-radius img {
    width: 100%;
    min-width: 300.966px;
    max-width: 300.9963px;
}

#coming-soon .coming-soon-container .coming-soon-column .coming-soon-year {
    color: #F00;
    font-family: Inter;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#coming-soon .coming-soon-container .coming-soon-column .coming-soon-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    width: 100%;
    max-width: 227.7px;
    margin: 13.2px 0 35.475px;
}

#coming-soon .coming-soon-container .coming-soon-column img {
    width: 100%;
    max-width: 115.5px;
}

/* Discount Section */

#discount .discount-container .discount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#discount .discount-container .discount-content .discount-content-info {
    color: #11009E;
    font-family: Inter;
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#discount .discount-container .discount-content .discount-content-title {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 13.2px 0 23.1px;
}

#discount .discount-container .discount-content .discount-content-title span {
    color: #11009E;
}

#discount .discount-container .discount-content .discount-content-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.4px;
    width: 100%;
    max-width: 881.1px;
    margin-bottom: 52.8px;
}

#discount .discount-container .discount-images .position-images {
    position: relative;
    height: 357.225px;
}

#discount .discount-container .discount-images .position-images .box-img {
    width: 100%;
    max-width: 657.081975px;
}

#discount .discount-container .discount-images .position-images .girl-img {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 353.925px;
}

#discount .discount-container .discount-images .position-images .flat-discount {
    position: absolute;
    top: 100px;
    right: 270px;
    width: 100%;
    max-width: 170.643825px;
}

#discount .discount-container .discount-images .red-img {
    width: 100%;
    max-width: 1320px;
}

/* Portfolio Section */
#portfolio .portfolio-content {
    display: flex;
    flex-direction: column;
}

#portfolio .portfolio-content .portfolio-info {
    color: #F00;
    font-family: Inter;
    font-size: 19.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 13.2px;
}

#portfolio .portfolio-content .portfolio-title {
    color: #11009E;
    font-family: Merriweather;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 18.15px;
}

#portfolio .portfolio-content .portfolio-description {
    width: 100%;
    max-width: 739.2px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    margin-bottom: 39.6px;
}

#portfolio .portfolio-products {
    display: flex;
    flex-wrap: wrap;
    gap: 19.8px;
    justify-content: space-between;
}

#portfolio .portfolio-products .portfolio-display-products {
    position: relative;
}

#portfolio .portfolio-products .portfolio-display-products img {
    width: 100%;
    max-width: 349.8px;
}

#portfolio .portfolio-products .portfolio-display-products .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#portfolio .portfolio-products .portfolio-display-products:hover .overlay {
    opacity: 1;
}

#portfolio .portfolio-products .portfolio-display-products .overlay .price {
    color: #F00;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
}

/* Subscribe Section */

#subscribe .subscribe-container {
    border-radius: 13.2px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subscribe .subscribe-container img {
    width: 100%;
    max-width: 123.75px;
    margin-bottom: 33px;
}

#subscribe .subscribe-container .subscribe-title {
    color: #11009E;
    text-align: center;
    font-family: Merriweather;
    font-size: 39.6px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 18.15px;
}

#subscribe .subscribe-container .subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    width: 100%;
    max-width: 739.2px;
    margin-bottom: 39.6px;
}

#subscribe .subscribe-container .subscribe-div {
    display: flex;
    width: 100%;
    max-width: 534.6px;
    margin-bottom: 66px;
}

#subscribe .subscribe-container .subscribe-div input {
    flex: 1;
    padding: 20.625px;
    border: none;
    border-radius: 41.25px 0 0 41.25px;
    background: #FFF;
}

#subscribe .subscribe-container input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 14.85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subscribe .subscribe-container button {
    padding: 20.625px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 0px 41.25px 41.25px 0px;
    background: #F00;
}

#subscribe .subscribe-container button:hover {
    color: #F00;
    background: #FFF;
    transition: all 0.3s ease;
    border-left: 2px solid #070211;
}

/* Footer Section */