@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Common Section */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 99px;
}

/* Header Section */
#head {
    padding-top: 41.25px;
}

#head .banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 600px;
    border-radius: 13.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
}

#head .banner .banner-msg {
    font-size: 26.4px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13.2px;
}

#head .banner .banner-title {
    font-size: 59.4px;
    font-weight: 900;
    line-height: 78.375px;
    width: 100%;
    max-width: 521.4px;
}

/* Highlighted Section */

#highlighted .highlighted-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

#highlighted .highlighted-content .highlighted-title {
    color: #F00;
    font-size: 72.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

#highlighted .highlighted-content .highlighted-msg {
    color: #F00;
    font-size: 19.8px;
    font-weight: 500;
    margin-bottom: 13.2px;
}

#highlighted .highlighted-content .highlighted-info {
    color: #11009E;
    font-size: 39.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

#highlighted .highlighted-content img {
    width: 100%;
    max-width: 662.3925px;
}

/* Party-Join Section */

#party-join .party-join-content {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 600px;
    border-radius: 13.2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#party-join .party-join-content .party-join-content-column .party-join-content-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52.8px;
    font-style: normal;
    font-weight: 900;
    line-height: 72.6px;
    letter-spacing: 5.808px;
    width: 100%;
    max-width: 529.65px;
}

#party-join .party-join-content .party-join-content-column .party-join-content-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14.85px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.75px;
    width: 100%;
    max-width: 575.025px;
    margin: 19.8px 0 39.6px;
}

#party-join .party-join-content .party-join-content-column .party-join-content-link {
    color: #FFF;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    max-width: 84.975;
}

#party-join .party-join-content .party-join-content-column .party-join-content-link:hover {
    color: #11009E;
    transition: all 1s;
}

#party-join .party-join-content .party-join-content-column .image-container img {
    width: 100%;
    max-width: 263.85975px;
}